apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  labels:
    name: siddhu
spec:
  replicas: 3
  selector:
   matchLabels:
    project: roboshop
    env: dev
    purpose: deployment
  template:
    metadata:
      labels:
        project: roboshop
        env: dev
        purpose: deployment
    spec:
      containers:
      - name: nginx
        image: nginx:stable-perl
---
apiVersion: v1
kind: Service
metadata: 
  name: nginx-lb-deployment
  labels:
    purpose: nginx-lb-deployment
spec:
  type: LoadBalancer
  selector:
    project: roboshop
    env: dev
    purpose: deployment
  ports:
    - protocol: TCP
      port: 80 # service port
      targetPort: 80 # container port
